<ul class="guideline_cover_div"></ul>
<div class="guideline_skip_btn">
    <div class="guideline_skip_round_btn" ng-click="finish()">
        <i class="fa fa-times fa-2x"></i>
    </div>
</div>
<div class="guideline_step guideline_first_step" ng-if="$root.guideStep == 1">
    <h3>Màn hình học chính. Sẽ xuất hiện các nội dung học khác nhau khi mở tab mới.</h3>
    <button class="btn btn-success" ng-click="nextStep()">Tiếp tục</button>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <img class="guideline_arrow_1" src="assets/images/arrows/arrows-right.png">
        </div>
    </div>
</div>
<div class="guideline_step guideline_first_step" ng-if="$root.guideStep == 2">
    <h3>Màn hình học chính. Sẽ xuất hiện các nội dung học khác nhau khi mở tab mới.</h3>
    <br>
    <br>
    <h3>1. Học từ</h3>
    <button class="btn btn-success" ng-click="nextStep()">Tiếp tục</button>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <img class="guideline_arrow_1" src="assets/images/arrows/arrows-right.png">
        </div>
    </div>
</div>
<div class="guideline_step guideline_first_step" ng-if="$root.guideStep == 3">
    <h3>Màn hình học chính. Sẽ xuất hiện các nội dung học khác nhau khi mở tab mới.</h3>
    <br>
    <br>
    <h3>2. Nội dung trích dẫn</h3>
    <button class="btn btn-success" ng-click="nextStep()">Tiếp tục</button>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <img class="guideline_arrow_1" src="assets/images/arrows/arrows-right.png">
        </div>
    </div>
</div>
<div class="guideline_step guideline_first_step" ng-if="$root.guideStep == 4">
    <h3>Màn hình học chính. Sẽ xuất hiện các nội dung học khác nhau khi mở tab mới.</h3>
    <br>
    <br>
    <h3>3. Tin vắn trong tuần</h3>
    <button class="btn btn-success" ng-click="nextStep()">Tiếp tục</button>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <img class="guideline_arrow_1" src="assets/images/arrows/arrows-right.png">
        </div>
    </div>
</div>
<div class="guideline_step guideline_fifth_step" ng-if="$root.guideStep == 5">
    <h3>Click vào đây để mở từ điển Elight.</h3>
    <button class="btn btn-success" ng-click="nextStep()">Tiếp tục</button>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-8">
            <img class="guideline_arrow_1" src="assets/images/arrows/arrows-right.png">
        </div>
    </div>
</div>
<div class="guideline_step guideline_sixth_step" ng-if="$root.guideStep == 6">
    <h3>Click vào đây để tham gia vào đấu trường từ vựng.</h3>
    <button class="btn btn-success" ng-click="nextStep()">Tiếp tục</button>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-8">
            <img class="guideline_arrow_1" src="assets/images/arrows/arrows-right.png">
        </div>
    </div>
</div>
<div class="guideline_step guideline_seventh_step" ng-if="$root.guideStep == 7">
    <h3>Click vào đây để học tiếng Anh <br>qua các video của Elight.</h3>
    <button class="btn btn-success" ng-click="nextStep()">Tiếp tục</button>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-8">
            <img class="guideline_arrow_1" src="assets/images/arrows/arrows-right.png">
        </div>
    </div>
</div>
<div class="guideline_step guideline_eighth_step" ng-if="$root.guideStep == 8">
    <h3>Click vào đây để cập nhật thông tin của bạn.</h3>
    <button class="btn btn-success" ng-click="nextStep()">Tiếp tục</button>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <img class="guideline_arrow_1" src="assets/images/arrows/arrows-left.png">
        </div>
    </div>
</div>
<div class="guideline_step guideline_ninth_step" ng-if="$root.guideStep == 9">
    <h3>Click vào đây để lựa chọn chủ đề học.</h3>
    <button class="btn btn-success" ng-click="nextStep()">Tiếp tục</button>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <img class="guideline_arrow_1" src="assets/images/arrows/arrows-left.png">
        </div>
    </div>
</div>
<div class="guideline_step guideline_last_step" ng-if="$root.guideStep == 10">
    <div class="text-center">
        <h3>Hãy bắt đầu học từ vựng cùng Elight Extension ngay!</h3>
        <button class="btn btn-success btn-lg" ng-click="nextStep()">Tôi đã sẵn sàng!</button>
    </div>
</div>

