<div class="main word_box practice_box" ng-if="$root.random == 2">
  <div class="practice_box_child text-center">
    <h3>Luyện tập mỗi ngày để tăng cường vốn từ vựng của bạn.</h3>
    <button class="btn btn-success btn-lg" ng-click="$ctrl.openPractice()">LUYỆN TẬP TỪ VỰNG</button>
  </div>
</div>

<div class="main word_box challenge_box" ng-if="$root.random == 3 && $root.challengeScreen == 1">
  <div class="challenge_box_child">
    <div class="challenge_starting">
      <div class="challenge_starting_box">
        <h3 style="text-align: center; font-weight: 100;">Hãy tham gia vào <span style="color: darkblue; font-weight: bold"> cuộc chiến từ vựng tàn khốc </span> cùng <span style="font-family: Lobster; color: #ffbf24; font-size: 40px">eLight</span></h3>

        <div class="row" style="margin-top: 50px">
          <div class="col-sm-6" >
            <button class="btn btn-info idea-btn main_screen_chal" data-item-id="Yes" style="width: 100%" ng-click="$ctrl.findOppClick('AI')">Chơi với máy</button>
          </div>
          <div class="col-sm-6" >
            <button class="btn btn-info idea-btn main_screen_chal" data-item-id="Yes" style="width: 100%" ng-click="$ctrl.findOppClick('Opponent')">Tìm đối thủ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<challenge style="width:50px;"></challenge>


<div class="carousel slide videoLibraryCarousel" data-ride="carousel" data-interval="false" data-wrap="false" ng-if="$root.random == 4">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active full_width full_height">
      <div class="item-inner full_width full_height">
        <div class="video-card video-card--hover" ng-repeat="video in $ctrl.videoList track by $index" ng-class="{'video-card--big' : $index === 0}" ng-if="$index < 3" ng-click="$ctrl.goToVideoPage(video.url)">
          <img ng-src="{{video.poster}}" class="thumbnail video-card__img">
          <div class="video-card__title">
            {{video.title}}
          </div>
          <div class="video-card__description">
            {{video.description}}
          </div>
        </div>
      </div>
    </div>
    <div class="item full_width full_height">
      <div class="item-inner full_width full_height">
        <div class="video-card video-card--hover" ng-repeat="video in $ctrl.videoList track by $index" ng-if="$index >= 3" ng-click="$ctrl.goToVideoPage(video.url)">
          <img ng-src="{{video.poster}}" class="thumbnail video-card__img">
          <div class="video-card__title">
            {{video.title}}
          </div>
          <div class="video-card__description">
            {{video.description}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control videoCarouselControl" href=".videoLibraryCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control videoCarouselControl" href=".videoLibraryCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
