.transition_default {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@font-face {
  font-family: Averta-Bold;
  src: url('../../../../css/fonts/Averta/Averta-Bold.ttf');
}
ul {
  padding: 0;
  list-style: none;
}
ul li {
  list-style: none;
}
.new_setting {
  color: #fff;
  position: fixed;
  top: 20px;
  right: 110px;
  font-size: 13px;
  background-color: #FFC900;
  border-radius: 100px;
  width: 42px;
  height: 42px;
}
.new_setting.fix-right {
  right: 65px;
}
.new_setting .set_btn {
  cursor: pointer;
  font-size: 26px;
  transition: all 0.2s ease;
  padding: 8px 10px;
  width: auto;
  height: auto;
  border-radius: 50% !important;
}
#setting_modal .modal.fade .modal-dialog {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  transform: translate(0);
}
#setting_modal .modal-dialog {
  float: left;
  position: absolute;
  top: 40px;
  right: 20px;
}
#setting_modal .modal-dialog .setting_box {
  margin: 0 !important;
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid #272727;
  padding: 20px 0px;
  min-height: 440px;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
}
#setting_modal .modal-dialog .setting_box:after {
  content: "";
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
  border-style: solid;
  position: absolute;
  margin-top: -6px;
  top: 0;
  right: 56px;
}
#setting_modal .modal-dialog .setting_box:before {
  content: "";
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #272727 transparent;
  border-style: solid;
  position: absolute;
  margin-top: -8px;
  top: 0;
  right: 54px;
}
#setting_modal .modal-dialog .topic_detail {
  top: 5px !important;
}
#setting_modal .title_setting {
  margin: 0 0 10px 0;
  padding-left: 15px;
}
.feedback-content {
  width: 650px !important;
  height: 186px !important;
}
.font-logo {
  font-family: "Lobster";
  font-size: 29px;
  padding-left: 10px;
}
.link-social {
  text-align: center;
}
.link-social li {
  display: inline-block;
  padding: 15px;
}
.link-social li a {
  color: white;
}
.setting_open {
  z-index: 10;
}
.setting_open .set_btn {
  opacity: 1;
  transform: rotate(50deg) scale(1.1);
}
.setting_open .setting_box {
  opacity: 1;
  top: -470px;
}
.welcome_box .topic_container {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.list_topic {
  overflow: scroll;
  height: 330px;
  text-align: center;
}
.list_topic.detail {
  height: 370px;
}
.setting_box .list_topic_box .list_topic {
  width: 700px;
  margin-right: 55px;
}
.setting_box .list_topic_box .list_topic::-webkit-scrollbar-thumb {
  background: #c6c6c6;
}
.setting_box .list_topic_box .list_topic .topic .topic_container {
  box-shadow: 0px 0px 0px;
  background-color: #fff;
  height: 257px;
}
.setting_box .list_topic_box .list_topic .topic .topic_container:hover {
  transform: scale(1.05);
}
.setting_box .list_topic_box .list_topic .topic .topic_container .topic_name {
  color: #333;
  font-weight: 600;
  font-size: 13px;
  padding-bottom: 0px;
}
.setting_box .list_topic_box .list_topic .topic .topic_container img {
  width: 100%;
  height: 201px;
}
.des_top {
  padding: 0 10px 0 25px;
  text-align: left;
}
.des_top p {
  font-size: 15px !important;
  color: #ffb940 !important;
}
.des_top li {
  list-style-type: circle;
  font-size: 14px;
  font-weight: normal;
}
.setting_box .list_topic_box .list_topic {
  margin-top: 8px;
  height: 295px;
}
/*---video-----*/
#video_modal .modal-dialog {
  float: right;
  right: 20px;
  position: absolute;
  bottom: 200px;
}
.notification_video {
  background-color: #fff;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  border-radius: 5px !important;
}
.notification_video:before {
  content: "";
  border-width: 12px 12px 0 12px;
  border-color: #ffffff transparent transparent transparent;
  border-style: solid;
  position: absolute;
  right: 4px;
  bottom: -12px;
}
.notification_video ul {
  height: 250px;
  overflow-y: auto;
}
.notification_video ul > p.title_video {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.notification_video ul li {
  padding: 5px;
  float: left;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid gainsboro;
}
.notification_video ul li:hover {
  background-color: gainsboro;
}
.notification_video ul li .cover_image_video {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  float: left;
  position: relative;
}
.notification_video ul li .cover_image_video:hover .icon_play {
  visibility: visible;
}
.notification_video ul li .cover_image_video .icon_play {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 8px 0 0 13px;
}
.notification_video ul li .cover_image_video .icon_play .fa {
  color: #ffb940;
}
.notification_video ul li .cover_image_video img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  object-fit: cover;
}
.notification_video ul li div {
  float: right;
  width: 150px;
}
.notification_video ul .fist_video .cover_image_video {
  width: 100px;
  height: 100px;
  float: initial;
  margin: 0 auto;
}
.notification_video ul .fist_video .cover_image_video .icon_play {
  width: 100px;
  height: 100px;
  padding: 27px 0 0 27px;
}
.notification_video ul .fist_video .cover_image_video .icon_play .fa {
  font-size: 50px;
}
.notification_video ul .fist_video .content_video {
  float: initial;
  text-align: center;
  padding: 0 20px;
  width: 100%;
  font-weight: bold;
}
.light_video {
  background-color: #eddfc6 !important;
}
.video__badge {
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  line-height: 15px;
}
/*---./END video-----*/
/*--popup-landing-page*/
#popup_landing_page {
  color: #333;
}
#popup_landing_page .modal-header {
  padding: 5px;
}
/*--./END popup-landing-page*/
/*---fix bug modal backdrop---*/
.modal-backdrop {
  top: 0 !important;
}
/*---./END fix bug modal backdrop---*/
/*--most visited---*/
#wrap #page nav #topsites_menu {
  background: rgba(51, 84, 82, 0.9);
}
/*--./END most visited---*/
.setting_option {
  height: 55px;
  cursor: pointer;
}
.setting_option span,
.setting_option a {
  font-weight: 200;
  font-size: 16px;
  color: #5c5c5c;
}
.vertical_center {
  display: flex;
  align-items: center;
}
.first_setting_option {
  margin-top: 40px;
}
.setting_content_right_box {
  border-left: 1px solid #262626;
  margin-top: -20px;
  margin-bottom: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 440px;
  position: relative;
}
.unit_title_div {
  margin: 0;
  position: relative;
  height: 45px;
  border-radius: 0 0 5px 5px;
}
.check_topic {
  position: absolute;
  top: -3px;
  left: 11px;
}
.round-circle-div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid green;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.topic_info_icon {
  color: #8a8a8a;
  font-weight: 700;
}
.dynamic_setting {
  padding-top: 10px;
}
.white_title {
  color: white !important;
}
.setting_category_option {
  padding-right: 0px;
  margin-right: -20px;
}
.setting_block_box {
  display: block !important;
}
.setting_feedback_div {
  padding: 10px 15px 15px 10px;
}
.setting_feedback_div textarea {
  width: 100%;
  height: 250px;
  padding: 10px;
  color: #333;
}
.setting_feedback_div button {
  margin-top: 10px;
  background: #00aae3;
  width: 100px;
  border-radius: 15px;
  font-size: 16px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.setting_feedback_div button:hover,
.setting_feedback_div button:focus {
  -webkit-filter: brightness(90%);
  color: white !important;
}
.setting_information_div {
  padding-left: 15px;
  padding-top: 10px;
  overflow: scroll;
  height: 350px;
}
.setting_information_div h4 {
  padding-bottom: 10px;
}
.contain_progress_setting {
  position: relative;
  width: 300px;
  height: 300px;
  margin: -67px auto;
}
.contain_progress_setting .image_unit_setting {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 31%;
  border-radius: 200px;
  left: 32%;
}
.contain_progress_setting .image_unit_course {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 27%;
  border-radius: 200px;
  left: 27%;
}
.contain_progress_course {
  position: relative;
  width: 250px;
  height: 250px;
  margin: -67px auto;
}
.contain_progress_course .image_unit_setting {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 31%;
  border-radius: 200px;
  left: 32%;
}
.contain_progress_course .image_unit_course {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 30%;
  border-radius: 200px;
  left: 30%;
}
.process_unit_setting {
  position: relative;
  width: 300px;
  height: 300px;
}
.btn-open-unit {
  bottom: 20px;
  padding: 10px 30px 7px;
  background: #ffcb09;
  border-radius: 100px;
  box-shadow: 0px 1px 1px #676666;
  color: #272e6b;
  margin-top: 41px;
  outline: none;
  font-family: Averta-Extrabold;
}
.btn-open-unit:hover {
  color: #272e6b !important;
}
.problem-support {
  margin: 0;
  width: 650px !important;
  height: 89px !important;
  border-radius: 5px;
}
.version-infor {
  position: absolute;
  width: 93px;
  color: white;
  bottom: 0;
  text-shadow: 1px 1px 1px #313030;
}
.detail-history ul {
  margin-left: 35px;
  margin-bottom: 0;
  list-style: circle;
}
.detail-history ul li {
  list-style: unset;
  padding: 5px;
}
.version_detail {
  border-bottom: 1px solid #4a4a4a;
  padding: 20px 0;
}
.topic_container {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 1px 5px #989898;
  position: relative;
  padding-top: 30px;
  cursor: pointer;
  min-height: 200px;
}
.topic_container .box-progress {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto 20px;
  border-radius: 50%;
  position: relative;
}
.topic_container .box-progress .img-responsive {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}
.topic_container.active {
  background: #56CCF2;
  color: white;
}
.topic_container.active .active-white {
  font-size: 23px;
  color: white;
}
.topic_container.active .topic_info_icon {
  background: white;
}
.topic_container.active .topic_info_icon:after {
  background: white;
}
.topic_container.active .topic_info_icon:before {
  background: white;
}
.topic_info_icon {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #828282;
  border-radius: 50%;
  top: 15px;
  right: 9px;
  cursor: pointer;
  z-index: 1;
}
.topic_info_icon.lock {
  background: white;
}
.topic_info_icon.lock:after {
  background: white;
}
.topic_info_icon.lock:before {
  background: white;
}
.back-course {
  position: absolute;
  top: 18px;
  color: black;
  cursor: pointer;
}
.topic .btn-account {
  padding: 15px;
  margin: 5px auto;
  width: 380px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.topic .btn-account.not-yet-account {
  background: #FFCB08;
  margin-bottom: 30px;
}
.topic .btn-account.accounted {
  background: #2E2F8A;
}
.topic .btn-account.not-yet-account a {
  color: #2a2e8e;
}
.topic .btn-account.accounted a {
  color: #fccb00;
}
.topic .btn-account a {
  color: white;
  font-family: Averta-Bold;
  text-transform: uppercase;
  text-decoration: none;
}
.topic_info {
  width: 25px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.topic_info_icon:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #828282;
  bottom: 6px;
  right: 0;
}
.topic_info_icon:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #828282;
  top: 6px;
  right: 0;
}
.setting_tab_panel {
  width: 24%;
  font-size: 15px;
  border-bottom: 1px solid;
  border-bottom-color: #bfbfbf;
}
.setting_tab_panel:hover a {
  color: black !important;
}
.setting_tab_panel:hover a:hover {
  color: black !important;
}
.setting_tab_panel.active {
  border-bottom-color: black;
  border-bottom: 2px solid;
}
.setting_tab_panel.active a {
  color: black !important;
}
.setting_tab_panel.active a:hover {
  color: black !important;
}
.dynamic_setting .nav-pills > li.active > a,
.dynamic_setting .nav-pills > li.active > a:hover {
  background-color: transparent;
}
.dynamic_setting .nav-pills {
  margin-left: 15px;
}
.dynamic_setting .nav > li > a:hover {
  color: white;
  background-color: transparent;
}
.setting_tab_panel_link {
  color: #5c5c5c;
}
.login-margin-top .modal-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-margin-top .btn-account {
  padding: 15px;
  margin: 5px auto;
  width: 380px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.login-margin-top .btn-account.accounted {
  background: #2E2F8A;
}
.login-margin-top .btn-account.not-yet-account {
  background: #FFCB08;
  margin-bottom: 30px;
}
.login-margin-top .btn-account a {
  color: white;
}
.login_form_view .btn-login-account {
  background: #56CCF2;
  color: white;
  padding: 10px 50px;
  border-radius: 27px;
}
.login_form_view .input-group .form-control {
  height: 46px;
}
.login_form_view .not-account {
  font-family: Averta-BOld;
}
.recommend_create .btn-account {
  padding: 15px;
  margin: 5px auto;
  width: 380px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.recommend_create .btn-account.accounted {
  background: #2E2F8A;
}
.recommend_create .btn-account.not-yet-account {
  background: #FFCB08;
  margin-bottom: 30px;
}
.recommend_create .btn-account a {
  color: white;
}
.list-guide {
  text-align: left;
  margin: 0 50px;
}
.list-guide li {
  margin: 30px 0;
}
.image-cover {
  width: 120px;
  margin: 0 auto 30px;
  position: relative;
}
.image-cover img {
  width: 100%;
}
.image-cover .zoom-view {
  position: absolute;
  width: 99px;
  top: 20px;
  right: -25px;
}
.title-recommend {
  font-family: Averta-Bold;
}
.recommend-css.welcome_box {
  padding-top: unset !important;
  display: block !important;
}
.message-error {
  font-size: 11px;
  position: relative;
  margin-bottom: unset !important;
  margin-top: 5px !important;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
}
.message-error:before {
  content: "";
  background: #eb5757;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 3px;
  left: -15px;
  border-radius: 10px;
}
.message-hide {
  font-size: 11px;
  margin: 5px 0 5px 30px;
  position: relative;
  color: #d8d8d8;
}
.message-hide:before {
  content: "";
  background: #d8d8d8;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 3px;
  left: -15px;
  border-radius: 10px;
}
.message-active {
  font-size: 11px;
  margin: 5px 0 5px 30px;
  position: relative;
  color: #27ae60;
}
.message-active:before {
  content: "";
  background: #27ae60;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 3px;
  left: -15px;
  border-radius: 10px;
}
.down-for-task {
  top: 130px !important;
}
.min-height {
  min-height: 400px;
  height: unset !important;
}
