USE [QuanLySanPhamDB]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 10/14/2019 4:05:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](50) NOT NULL,
	[TenSP] [nvarchar](50) NOT NULL,
	[GiaTien] [real] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemSanPhamTheoTen]    Script Date: 10/14/2019 4:05:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TimKiemSanPhamTheoTen]
	@ten nvarchar(50)
AS
BEGIN
	SELECT * FROM SanPham WHERE TenSP LIKE CONCAT('%', @ten , '%')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaSanPham]    Script Date: 10/14/2019 4:05:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XoaSanPham]
	@MaSP varchar(50)
AS
BEGIN
	IF EXISTS(SELECT * FROM SanPham WHERE MaSP =  @MaSP)
	BEGIN
		DELETE SanPham WHERE MaSP =  @MaSP
		RETURN 1
	END
	RETURN 0
END

GO
