@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'mvboli';
    src: url("../fonts/mvboli.ttf") format('truetype');
}
@font-face {
    font-family: 'elephant';
    src: url("../fonts/Elephant.ttf") format('truetype');
}
@font-face {
    font-family: 'brushmt';
    src: url("../fonts/brush script mt kursiv.ttf") format('truetype');
}
@font-face {
    font-family: 'calibribi';
    src: url("../fonts/calibriz.ttf") format('truetype');
}
@font-face {
    font-family: 'britannic';
    src: url("../fonts/BRITANIC.TTF") format('truetype');
}
@font-face {
    font-family: 'gothic';
    src: url("../fonts/CenturyGothic.ttf") format('truetype');
}
@font-face {
    font-family: 'vival';
    src: url("../fonts/Vivaldii.ttf") format('truetype');
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #fae0df;
}
.my-header {
    min-height: 210px;
    background-color: #322a22;
}
.padding-top_20 {
    padding-top: 20px;
}
.padding-top_25 {
    padding-top: 25px;
}
.margin-top_-50 {
    margin-top: -50px;
}
.margin-top_-30 {
    margin-top: -30px;
}
.margin-bottom_30 {
    margin-bottom: 30px;
}
.padding-left_3 {
    padding-left: 3px;
}
.padding-right_5 {
    padding-right: 5px;
}
.text-white {
    color: #fff;
}
.font-mvboli {
    font-family: 'mvboli';
}
.font-elephant {
    font-family: 'elephant';
}
.font-size_11 {
    font-size: 11px;
}
.font-size_14 {
    font-size: 14px;
}
.font-size_18 {
    font-size: 18px;
}
.font-size_24 {
    font-size: 24px;
}
.info-content-header {
    max-width: 85%;
}
.navbar-inverse {
    background-color: #955e66;
    border: none;
    border-radius: 0;
    height: 90px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    margin-top: 20px;
    margin-left: 13px;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #f18693;
    border-radius: 5px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #f18693;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-nav > li > .dropdown-menu, .dropdown-menu {
    background-color: #d5a0a8;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    font-family: 'brushmt';
    font-size: 20px;
    font-weight: bold;
    margin-left: 13px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #f18693;
}
.search-container input[type=text] {
    padding: 6px;
    padding-left: 15px;
    margin: 0;
    font-size: 17px;
    border: none;
    width: 87%;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #d3cfcf;
}
.search-container button {
    float: left;
    padding: 6px 10px;
    margin: 0;
    color: #323232;
    background: #d3cfcf;
    font-size: 17px;
    width: 13%;
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-container button:hover {
    background: #d3cfcf;
}
.search-container input::placeholder {
 color: #323232;
 font-family: 'calibribi';
 font-size: 13px;
}
.search-container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #323232;
 font-family: 'calibribi';
 font-size: 13px;
}
.search-container input::-ms-input-placeholder { /* Microsoft Edge */
color: #323232;
 font-family: 'calibribi';
 font-size: 13px;
}
.drop-user {
    color: #323232;
    font-size: 30px;
}
.cart:hover {
    color: #fff;
}
.num-circle {
    position: relative;
    width: 16px;
    height: 16px;
    font-size: 12px;
    color: #760c0c;
    border-radius: 50%;
    top: -3px;
    right: -25px;
    background-color: #a1a1a1;
}
.cart {
    position: absolute;
    color: #323232;
    font-size: 30px;
}
.dropdown-account {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: -225%;
    z-index: 200;
    border-radius: 5px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'britannic';
    z-index: 200;
}
.dropdown-content a:hover {
    background-color: #323232;
    color: #fff;
    border-radius: 5px;
}
.dropdown-account:hover .dropdown-content {
    display: block;
}
.dropdown-account:hover .drop-user {
    color: #fff;
}
.account {
    border-bottom: 2px solid #323232;
    border-radius: 5px;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-toggle {
    position: relative;
    float: right;
    color: #323232;
    font-size: 36px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.navbar-inverse .navbar-collapse {
    border: none;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

@media (min-width: 320px) and (max-width: 991px) {
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-nav .open .dropdown-menu > li > a {
    line-height: 30px;
}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 30px;
    border-radius: 5px;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    font-weight: normal;
    line-height: 1.42857143;
    color: #323232;
    white-space: nowrap;
}
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form .navbar-collapse {
/*        border-top: 1px solid transparent;*/
/*    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);*/
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    background-color: #d5a0a8;
}
.navbar, .navbar-collapse {
    z-index: 1;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-text {
    float: none;
}
/* since 3.1.0 */
.navbar-collapse.collapse.in {
    display: block!important;
}
.collapsing {
    overflow: hidden!important;
}
.navbar-inverse .navbar-nav > li > a {
    /*    margin-left: 0;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    color: #323232;
}
.navbar-nav {
    margin-top: 11px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #323232;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
    margin-left: 0px;
    margin-right: 0px;
}
.search-container {
    margin-left: -17%;
    margin-right: 15%;
}
}
.search-li {
    display: none;
}
.navbar-nav {
    z-index: 1;
}
.my-div {
    width: 50px;
    margin: 15px;
}
.icon-black {
    position: absolute;
    top: 12px;
    right: 0;
}
.parent {
    position: relative;
}
.my-clearfix {
    clear: none;
}
.banner-move {
    position: absolute;
}

@media (max-width: 767px) {
.margin-top_-50 {
    margin-top: 10px;
}
.margin-top_-30 {
    margin-top: 60px;
}
.banner-move {
    position: static;
}
.navbar-nav {
    z-index: 0;
}
}

@media (max-width: 767px) {
#mainsearch {
    display: none;
}
.icon-black {
    z-index: 1;
}
.navbar-nav, .dropdown-menu {
    margin: 11px 0 0 0;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.navbar-collapse {
    box-shadow: none;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #323232;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #f18693;
}
.search-li {
    display: block;
    padding-bottom: 50px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.search-container {
    margin-left: 15px;
    margin-right: 0px;
}
}
/*----------------------------------------MENU------------------------------------------*/
.carousel-indicators li {
    border: 2px solid #323232;
    background-color: #fff;
}
.carousel-indicators .active {
    background-color: #f18693;
}
.push-down-height-30 {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
}
.title-main {
    font-family: 'elephant';
    font-size: 36px;
    color: #7d4d3d;
    text-align: center;
}
.title-underline {
    margin-top: -110px;
}
.div-width-100per {
    width: 100%;
    height: auto;
    display: block;
}
.div-test {
    width: 100%;
    min-height: 300px;
    background-color: #323232;
}
.text-brushmt-30, .text-brushmt-30 a {
    font-family: 'brushmt';
    color: #323232;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    margin-top: -20px;
}
.text-brushmt-30 a:hover {
    color: #f18693;
}

@media (max-width: 509px) {
.title-underline {
    display: none;
}
.title-main {
    text-decoration: underline;
}
.text-brushmt-30 {
    margin-top: 20px;
}
}

@media (max-width: 767px) {
.margin-top_20 {
    margin-top: 20px;
}
}
/*-----------------------------------------------------------------------------------------------------------------------PIES*/
.bar-white {
    background-color: #fff;
    height: 40px;
    width: 100%;
    position: relative;
    z-index: 0;
}
.bar-pink {
    position: absolute;
    width: 30%;
    height: 40px;
    background-color: #f18693;
    top: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: -1;
}
.item-menu {
    font-family: 'brushmt';
    color: #fff;
    font-size: 30px;
    z-index: 200;
    text-align: right;
    padding-right: 3%;
}
.text-gothic-24, .text-gothic-footer {
    font-family: 'gothic';
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.text-gothic-footer{
    text-align: left;
}
.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}
figcaption {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imghvr-slide-left figcaption {
    transform: translateX(125%);
}
[class*=" imghvr-slide-"]:hover figcaption, [class^=imghvr-slide-]:hover figcaption {
    transform: translate(25%);
}
[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
    background-color: rgba(1,1,1,0.4);
}
.div-product, .div-product_50 {
    height: 70px;
    background-color: #f18693;
    position: relative;
    padding: 0px 32% 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-price, .div-price_50 {
    position: absolute;
    width: 30%;
    height: 70px;
    background-color: #fff;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    top: 0;
    right: 0;
    padding: 0 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-product_50, .div-price_50 {
    height: 50px;
    padding-bottom: 0;
}
.div-price_50 {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.text-product, .text-price, .text-add-to-card, .text-product_50, .text-add-to-card_50, .text-price_50, .text-price_50 h1 {
    font-size: 24px;
    font-family: 'britannic';
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}
.text-product_50, .text-add-to-card_50, .text-price_50, .text-price_50 h1 {
    font-size: 18px;
}
.text-add-to-card_50 {
    padding-bottom: 8px;
}
.text-price, .text-price_50, .text-price_50 h1 {
    word-wrap: normal;
    color: #f18693;
    font-size: 22px;
}
.text-price_50 h2 {
    font-size: 16px;
}
[class*=" imghvr-"] .add-to-card, [class^=imghvr-] .add-to-card {
    background-color: #f18693;
}
.add-to-card a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more {
    margin-bottom: 30px;
}
.more-pie, .more-cake, .more-ic, .more-drink {
    display: none;
    margin-top: 30px;
}

@media (max-width: 991px) {
.text-gothic-24 {
    font-size: 14px;
}
}

@media (max-width: 767px) {
.text-gothic-24 {
    font-size: 17px;
}
#_ics .item-menu {
    line-height: 17px;
    font-size: 25px;
    padding-top: 2px;
}
}
.frame {
    position: relative;
    width: 100%;
    height: auto;
    perspective: 1100px;
}
.wed-cake-img {
    position: absolute;
    width: 80%;
    height: auto;
    left: 10%;
    top: 12.5%;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: all 1.5s;
}
.back-paper, .front-paper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.back-paper {
    transform: rotateY(180deg);
    background-color: red;
}
.frame:hover >.wed-cake-img {
    transform: rotateY(180deg);
}
#sale-frame {
    animation: pulse 5s linear 2s infinite alternate;
    margin-top: 50px;
}
.btn-customize {
    width: 50%;
    border-radius: 10px;
    height: 50px;
    background-color: #f18693;
    font-size: 24px;
    font-family: 'britannic';
    color: #fff;
    animation: pulse 5s linear 2s infinite alternate;
    margin-top: 30px;
}

@media (max-width: 991px) {
#sale-frame {
    margin-top: 30px;
}
}
.padding-rev {
    padding: 0;
}
.banner-sale {
    background-image: url("../images/banner-sale.jpg");
    background-size: cover;
    width: 100%;
    height: 450px;
    font-family: 'vival';
    color: #f18693;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 80px;
}
.banner-sale p {
    animation: _fadeInRight 10s linear 2s infinite;
}
.banner-sale h1 {
    font-size: 72px;
    font-family: 'britannic';
    color: #323232;
    animation: _fadeInLeft 10s linear 2s infinite;
}
.banner-sale span {
    color: #f16685;
    font-weight: bold;
}

@media (max-width: 767px) {
.banner-sale {
    font-size: 70px;
}
.banner-sale h1, .banner-sale span {
    font-size: 42px;
}
}
 @keyframes _fadeInRight {
 from {
 opacity: 0;
 -webkit-transform: translate3d(100%, 0, 0);
 transform: translate3d(100%, 0, 0);
}
 25%, 75% {
 opacity: 1;
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}
 100% {
 opacity: 0;
 -webkit-transform: translate3d(-100%, 0, 0);
 transform: translate3d(-100%, 0, 0);
}
}
.fadeInRight {
    -webkit-animation-name: _fadeInRight;
    animation-name: _fadeInRight;
}
@keyframes _fadeInLeft {
 from {
 opacity: 0;
 -webkit-transform: translate3d(-100%, 0, 0);
 transform: translate3d(-100%, 0, 0);
}
 25%, 75% {
 opacity: 1;
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}
 100% {
 opacity: 0;
 -webkit-transform: translate3d(100%, 0, 0);
 transform: translate3d(100%, 0, 0);
}
}
.fadeInLeft {
    -webkit-animation-name: _fadeInLeft;
    animation-name: _fadeInLeft;
}
.owl-carousel .owl-dots.disabled {
    display: block;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot.active:hover span {
    background-color: #f18693;
}
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #fff;
}
.text-gothic-16 {
    font-family: 'gothic';
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.text-dollar {
    transform: scale(1.2, 2);
    position: absolute;
    color: #323232;
    left: 10%;
    top: -15%;
    font-size: 80%;
}
.text-deal {
    position: absolute;
    left: 40%;
    top: -25%;
    color: #323232;
    text-decoration: line-through;
    font-size: 70%;
}
.text-deal-price {
    position: absolute;
    left: 40%;
    top: 35%;
    font-size: 100%;
}
#_founder-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
}
.leave-right {
    width: auto;
    height: 100%;
    z-index: 1;
    margin-top: 10%;
}
.content-founder {
    text-align: center;
    width: 80%;
    position: absolute;
    z-index: 2;
    font-size: 30px;
    top: 10%;
    margin-top: 3%;
}

@media (max-width: 991px) {
.leave-right {
    transform: scale(0.85);
    margin-top: -15%;
}
.content-founder {
    font-size: 24px;
    margin-top: -10%;
}
}

@media (max-width: 767px) {
.leave-right {
    margin-top: 0%;
}
.content-founder {
    font-size: 18px;
    margin-top: 10px;
}
}
#ab-store {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    margin-top: 50px;
}
#_store-img {
}
#_store-cnt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leave-left {
    z-index: 1;
}
.store-content {
    position: absolute;
    text-align: center;
    width: 80%;
    z-index: 2;
    font-size: 30px;
    top: 10%;
    margin-top: 8%;
}

@media (max-width: 991px) {
.store-content {
    font-size: 24px
}
}

@media (max-width: 767px) {
#ab-store {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    margin-top: 0px;
}
#_store-cnt {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
}
.store-content {
    font-size: 18px;
    margin-top: 0%;
}
}
.learn-cook {
    text-align: center;
    padding: 10px 25px;
    background-color: #955e66;
    color: #fff;
    border-radius: 40px;
    width: 300px;
    height: auto;
}
/*feed*/
.text-gothic-feed {
    font-family: 'gothic';
    font-size: 24px;
    color: #323232;
}

.text-gothic-feed-16 {
    font-family: 'gothic';
    font-size: 16px;
    color: #323232;
}
.testimonial_subtitle {
    color: #955e66;
    font-size: 12px;
}
.testimonial_btn, .testimonial_btn:focus {
    background-color: #373d4b;
    color: #fff !important;
    border: none;
}
.seprator {
    height: 2px;
    width: 56px;
    background-color: #955e66;
    margin: 7px 0 10px 0;
}

.testimonial_btn:hover {
    background-color: #955e66;
}
.yourname {
    width: 100%;
    border: none;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-family: 'gothic';
}
.btn-sub{
    margin-top: 15px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: #f18693;color: #fff;
    font-family: 'britannic';
    font-size: 24px;
}