@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'mvboli';
    src: url("../fonts/mvboli.ttf") format('truetype');
}
@font-face {
    font-family: 'elephant';
    src: url("../fonts/Elephant.ttf") format('truetype');
}
@font-face {
    font-family: 'brushmt';
    src: url("../fonts/brush script mt kursiv.ttf") format('truetype');
}
@font-face {
    font-family: 'calibribi';
    src: url("../fonts/calibriz.ttf") format('truetype');
}
@font-face {
    font-family: 'britannic';
    src: url("../fonts/BRITANIC.TTF") format('truetype');
}
@font-face {
    font-family: 'gothic';
    src: url("../fonts/CenturyGothic.ttf") format('truetype');
}
@font-face {
    font-family: 'vival';
    src: url("../fonts/Vivaldii.ttf") format('truetype');
}
@font-face {
    font-family: 'facebook';
    src: url("../fonts/UTM Facebook.ttf") format('truetype');
}
@font-face {
    font-family: 'baisaunang';
    src: url("../fonts/UVNBaiSau_N.TTF") format('truetype');
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #fae0df;
}
.img-responsive {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.my-header {
    min-height: 210px;
    background-color: #322a22;
}
.padding-top_20 {
    padding-top: 20px;
}
.padding-top_25 {
    padding-top: 25px;
}
.margin-top_-50 {
    margin-top: -50px;
}
.margin-top_-30 {
    margin-top: -30px;
}
.margin-bottom_30 {
    margin-bottom: 30px;
}
.padding-left_3 {
    padding-left: 3px;
}
.padding-right_5 {
    padding-right: 5px;
}
.text-white {
    color: #fff;
}
.font-mvboli {
    font-family: 'mvboli';
}
.font-elephant {
    font-family: 'elephant';
}
.font-size_11 {
    font-size: 11px;
}
.font-size_14 {
    font-size: 14px;
}
.font-size_18 {
    font-size: 18px;
}
.font-size_24 {
    font-size: 24px;
}
.info-content-header {
    max-width: 85%;
}
.navbar-inverse {
    background-color: #955e66;
    border: none;
    border-radius: 0;
    height: 90px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    margin-top: 20px;
    margin-left: 13px;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #f18693;
    border-radius: 5px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #f18693;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-nav > li > .dropdown-menu, .dropdown-menu {
    background-color: #d5a0a8;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    font-family: 'brushmt';
    font-size: 20px;
    font-weight: bold;
    margin-left: 13px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #f18693;
}
.search-container input[type=text] {
    padding: 6px;
    padding-left: 15px;
    margin: 0;
    font-size: 17px;
    border: none;
    width: 87%;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #d3cfcf;
}
.search-container button {
    float: left;
    padding: 6px 10px;
    margin: 0;
    color: #323232;
    background: #d3cfcf;
    font-size: 17px;
    width: 13%;
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-container button:hover {
    background: #d3cfcf;
}
.search-container input::placeholder {
 color: #323232;
 font-family: 'calibribi';
 font-size: 13px;
}
.search-container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #323232;
 font-family: 'calibribi';
 font-size: 13px;
}
.search-container input::-ms-input-placeholder { /* Microsoft Edge */
color: #323232;
 font-family: 'calibribi';
 font-size: 13px;
}
.drop-user {
    color: #323232;
    font-size: 30px;
}
.cart:hover {
    color: #fff;
}
.num-circle {
    position: relative;
    width: 16px;
    height: 16px;
    font-size: 12px;
    color: #760c0c;
    border-radius: 50%;
    top: -3px;
    right: -25px;
    background-color: #a1a1a1;
}
.cart {
    position: absolute;
    color: #323232;
    font-size: 30px;
}
.dropdown-account {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: -225%;
    z-index: 200;
    border-radius: 5px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'britannic';
    z-index: 200;
}
.dropdown-content a:hover {
    background-color: #323232;
    color: #fff;
    border-radius: 5px;
}
.dropdown-account:hover .dropdown-content {
    display: block;
}
.dropdown-account:hover .drop-user {
    color: #fff;
}
.account {
    border-bottom: 2px solid #323232;
    border-radius: 5px;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-toggle {
    position: relative;
    float: right;
    color: #323232;
    font-size: 36px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.navbar-inverse .navbar-collapse {
    border: none;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

@media (min-width: 320px) and (max-width: 991px) {
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-nav .open .dropdown-menu > li > a {
    line-height: 30px;
}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 30px;
    border-radius: 5px;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    font-weight: normal;
    line-height: 1.42857143;
    color: #323232;
    white-space: nowrap;
}
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    background-color: #d5a0a8;
}
.navbar, .navbar-collapse {
    z-index: 1;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-text {
    float: none;
}
/* since 3.1.0 */
.navbar-collapse.collapse.in {
    display: block!important;
}
.collapsing {
    overflow: hidden!important;
}
.navbar-inverse .navbar-nav > li > a {
    /*    margin-left: 0;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    color: #323232;
}
.navbar-nav {
    margin-top: 11px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #323232;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
    margin-left: 0px;
    margin-right: 0px;
}
.search-container {
    margin-left: -17%;
    margin-right: 15%;
}
}
.search-li {
    display: none;
}
.navbar-nav {
    z-index: 1;
}
.my-div {
    width: 50px;
    margin: 15px;
}
.icon-black {
    position: absolute;
    top: 12px;
    right: 0;
}
.parent {
    position: relative;
}
.my-clearfix {
    clear: none;
}
.banner-move {
    position: absolute;
}

@media (max-width: 767px) {
#mainsearch {
    display: none;
}
.margin-top_-50 {
    margin-top: 10px;
}
.margin-top_-30 {
    margin-top: 60px;
}
.banner-move {
    position: static;
}
.navbar-nav {
    z-index: 0;
}
.icon-black {
    z-index: 1;
}
.navbar-nav, .dropdown-menu {
    margin: 11px 0 0 0;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.navbar-collapse {
    box-shadow: none;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #323232;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #f18693;
}
.search-li {
    display: block;
    padding-bottom: 50px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.search-container {
    margin-left: 15px;
    margin-right: 0px;
}
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------TITLE DISH--*/
#title-dish {
    margin-top: 50px;
    position: relative;
}
#img-dish {
    margin-top: 20px;
}
.home-cakes-vegan {
    font-family: 'gothic';
    font-size: 24px;
    color: #323232;
    text-align: left;
    font-weight: bold;
}
.home-cakes-vegan a:hover, .home-cakes-vegan a:focus {
    color: #955e66;
}
.more-img-dish {
    margin-top: 10px;
}
.div-test {
    width: 100%;
    height: 300px;
    background-color: blueviolet;
}
#img-carousel .owl-dots, #_topping .owl-dots {
    display: none;
}
#img-carousel .item img {
    border-radius: 5px;
}
#img-carousel .item img:hover {
    opacity: 1;
    border: 3px solid #955e66;
}
.clickme {
    opacity: 0.5;
}
.selected {
    opacity: 1;
    border: 3px solid #955e66;
}
#main-dish {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.intro-text {
    color: #323232;
    font-size: 24px;
    font-family: 'brushmt';
    text-align: center;
    font-style: italic;
    padding: 0 10%;
}
.intro-star {
    color: #ffc120;
    font-size: 24px;
    text-align: center;
    text-shadow: 0 0 5px #323232, 0 0 5px #ffc120;
}
.topping-title {
    font-size: 30px;
    font-family: 'britannic';
    color: #323232;
    text-align: left;
    padding-left: 10%;
}
#_topping {
    padding: 0 10%;
}
#_topping figure {
    border-radius: 5px;
    border: 1px solid #323232;
}
#_topping [class^=imghvr-] figcaption {
    background-color: rgba(1,1,1,0.4);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
h1 {
    margin-top: 0;
}

@media (max-width: 767px) {
.intro-text {
    margin-top: 30px;
}
}
.text-topping {
    font-family: 'gothic';
    font-size: 12px;
}
#like-add {
    padding: 5% 10%;
}
.nodelike {
    background-color: #323232; /* Green */
    border: none;
    border-radius: 20px;
    width: 70px;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.nodelike:hover {
    color: #f18693;
}
.pink-heart {
    color: #f18693;
    animation: rubberBand 1s linear 1 normal;
}
.addcard {
    background-color: #f18693; /* Green */
    border: none;
    border-radius: 20px;
    width: calc(100% - 100px);
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
    font-family: 'britannic';
}
.addcard:hover {
    color: #323232;
}
.fb-title {
    font-family: 'facebook';
    color: #323232;
    font-size: 36px;
    text-align: left;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
.addcard {
    font-size: 24px;
    line-height: 20px;
}
}
#about-dish {
    padding-top: 80px;
}
.image-ad-a {
    margin-bottom: 25px;
}
.image-ad-a [class^='imghvr-'] figcaption {
    background-color: rgba(1,1,1,0.4);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 10px;
    text-align: center;
}
.title-fig {
    font-family: 'gothic';
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}
.content-fig {
    font-family: 'gothic';
    font-size: 14px;
    color: #fff;
}
.btn-fig {
    background-color: transparent; /* Green */
    border: 2px solid #fff;
    width: 150px;
    height: 40px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
    font-family: 'gothic';
    margin-top: 10px;
}
.core-background {
    width: 100%;
    height: 250px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.core-core {
    font-size: 72px;
    font-family: 'baisaunang';
    color: #f18693;
}
.core-star {
    color: #ffc120;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 5px #323232, 0 0 5px #ffc120;
}
#customer {
    padding-top: 30px;
}

@media (max-width: 767px) {
.core-core {
    font-size: 24px;
}
.core-star {
    font-size: 11px;
}
.core-background {
    font-size: 10px;
    height: 160px;
}
}
.chart-background {
    width: 100%;
    height: 250px;
    background-color: #f18693;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#chart ul {
    list-style: none;
    font-size: 30px;
    font-family: 'gothic';
    color: #323232;
    font-weight: bold;
    padding-inline-start: 0;
    padding: 0 10%;
    margin: 0;
}
#chart ul li i {
    font-size: 24px;
    color: #ffc120;
}
.w3-323232 {
    background-color: #323232;
}
.w3-_yellow {
    background-color: #ffc120;
}

@media (max-width: 767px) {
#chart ul {
    font-size: 15px;
}
#chart ul li i {
    font-size: 12px;
}
.chart-background {
    height: 160px;
}
}
.cmm-background {
    width: 100%;
    min-height: 50px;
    margin-top: 20px;
    padding: 5% 0;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
}
