USE [master]
GO
/****** Object:  Database [QLDT]    Script Date: 3/22/2019 2:48:29 PM ******/
CREATE DATABASE [QLDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLDT.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLDT_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDT]
GO
/****** Object:  Table [dbo].[BOMON]    Script Date: 3/22/2019 2:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOMON](
	[MABM] [varchar](4) NOT NULL,
	[TENBM] [nvarchar](30) NOT NULL,
	[PHONG] [varchar](3) NULL,
	[DIENTHOAI] [varchar](10) NULL,
	[TRUONGBM] [varchar](4) NULL,
	[MAKHOA] [varchar](4) NOT NULL,
	[NGAYNHANCHUC] [datetime] NULL,
 CONSTRAINT [PK_BM] PRIMARY KEY CLUSTERED 
(
	[MABM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 3/22/2019 2:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACD] [varchar](4) NOT NULL,
	[TENCD] [nvarchar](30) NULL,
 CONSTRAINT [PK_CD] PRIMARY KEY CLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 3/22/2019 2:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONGVIEC](
	[MADT] [varchar](4) NOT NULL,
	[SOTT] [int] NOT NULL,
	[TENCV] [nvarchar](30) NULL,
	[NGAYBD] [datetime] NULL,
	[NGAYKT] [datetime] NULL,
 CONSTRAINT [PK_CV] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC,
	[SOTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETAI]    Script Date: 3/22/2019 2:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETAI](
	[MADT] [varchar](4) NOT NULL,
	[TENDT] [nvarchar](30) NULL,
	[CAPQL] [int] NULL,
	[KINHPHI] [int] NULL,
	[NGAYBD] [datetime] NULL,
	[NGAYKT] [datetime] NULL,
	[MACD] [varchar](4) NULL,
	[GVCNDT] [varchar](4) NULL,
 CONSTRAINT [PK_DETAI] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 3/22/2019 2:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [varchar](4) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[LUONG] [int] NULL,
	[PHAI] [nvarchar](3) NULL,
	[NGSINH] [datetime] NULL,
	[DIACHI] [nvarchar](30) NULL,
	[GVQLCM] [varchar](4) NULL,
	[MABM] [varchar](4) NULL,
 CONSTRAINT [PK_GV] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GV_DT]    Script Date: 3/22/2019 2:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GV_DT](
	[MAGV] [varchar](4) NOT NULL,
	[DIENTHOAI] [varchar](10) NOT NULL,
 CONSTRAINT [PK_GVDT] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[DIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 3/22/2019 2:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](4) NOT NULL,
	[TENKHOA] [nvarchar](30) NULL,
	[NAMTL] [int] NULL,
	[PHONG] [varchar](3) NULL,
	[DIENTHOAI] [varchar](10) NULL,
	[TRUONGKHOA] [varchar](4) NULL,
	[NGAYNHANCHUC] [datetime] NULL,
 CONSTRAINT [PK_K] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOITHAN]    Script Date: 3/22/2019 2:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOITHAN](
	[MAGV] [varchar](4) NULL,
	[TEN] [nvarchar](30) NULL,
	[NGSINH] [datetime] NULL,
	[PHAI] [nvarchar](3) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THAMGIADT]    Script Date: 3/22/2019 2:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THAMGIADT](
	[MAGV] [varchar](4) NOT NULL,
	[MADT] [varchar](4) NOT NULL,
	[STT] [int] NOT NULL,
	[PHUCAP] [int] NULL,
	[KETQUA] [nvarchar](30) NULL,
 CONSTRAINT [PK_TGDT] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MADT] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BOMON]  WITH CHECK ADD  CONSTRAINT [FK_BM_GV] FOREIGN KEY([TRUONGBM])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[BOMON] CHECK CONSTRAINT [FK_BM_GV]
GO
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CV_DT] FOREIGN KEY([MADT])
REFERENCES [dbo].[DETAI] ([MADT])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CV_DT]
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD  CONSTRAINT [FK_DT_CD] FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUDE] ([MACD])
GO
ALTER TABLE [dbo].[DETAI] CHECK CONSTRAINT [FK_DT_CD]
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD  CONSTRAINT [FK_DT_GV] FOREIGN KEY([GVCNDT])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[DETAI] CHECK CONSTRAINT [FK_DT_GV]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GV_BM] FOREIGN KEY([MABM])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GV_BM]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GV_GV] FOREIGN KEY([GVQLCM])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GV_GV]
GO
ALTER TABLE [dbo].[GV_DT]  WITH CHECK ADD  CONSTRAINT [FK_GVDT_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GV_DT] CHECK CONSTRAINT [FK_GVDT_GV]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD  CONSTRAINT [FK_K_GV] FOREIGN KEY([TRUONGKHOA])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK_K_GV]
GO
ALTER TABLE [dbo].[NGUOITHAN]  WITH CHECK ADD  CONSTRAINT [FK_NT_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[NGUOITHAN] CHECK CONSTRAINT [FK_NT_GV]
GO
ALTER TABLE [dbo].[THAMGIADT]  WITH CHECK ADD  CONSTRAINT [FK_TGDT_CV] FOREIGN KEY([MADT], [STT])
REFERENCES [dbo].[CONGVIEC] ([MADT], [SOTT])
GO
ALTER TABLE [dbo].[THAMGIADT] CHECK CONSTRAINT [FK_TGDT_CV]
GO
ALTER TABLE [dbo].[THAMGIADT]  WITH CHECK ADD  CONSTRAINT [FK_TGDT_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[THAMGIADT] CHECK CONSTRAINT [FK_TGDT_GV]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD CHECK  (([PHAI]=N'Nữ' OR [PHAI]='Nam'))
GO
ALTER TABLE [dbo].[NGUOITHAN]  WITH CHECK ADD CHECK  (([PHAI]=N'Nữ' OR [PHAI]='Nam'))
GO
USE [master]
GO
